<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<img src="/assets/images/crown.png" alt="crown" width="150" height="75" />
			<h1> Burger Queen! </h1>
			<h2> Build-A-Burger or Devour-A-Burger </h2>
		</div>
		<div class="col-md-6 text-center" class="task">
			<div class="row">
			  {{#each burger_data}}
			  	{{#unless this.devoured}}
				<div class="col-md-9 text-center">
					<pre>{{this.id}}. {{this.burger_name}}
					</pre>
				  		<!-- {{this.Date}} -->
				</div>
				<div class="col-md-3 text-center">
					<form class="devour-form button-size">
						<input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
						<button type="submit" class="btn btn-warning">Devour it!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-md-6 text-center" class="task">
			  {{#each burger_data}}
			  	{{#if this.devoured}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<form action="/burgers/create" method="POST">
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-danger" id="text-enter-button">Build It!</button>
			</form>
			<p>What burger would you like today?  Enter the name and click "Build It!</p>
		</div>
	</div>
</div>
